/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1345px) {
    #header {
        padding: 0px;
    }

    #header .nav-button {
        display: none;
    }

    #header .navbar-expand-lg .navbar-nav .dropdown-menu {
        min-width: 1000px;
    }

    #hero h2 {
        font-size: 4rem;
    }

    #hero p {
        font-size: 1.3rem;
    }
}

@media (min-width: 1200px) and (max-width: 1342px) {
    #header {
        padding: 0px;
    }

    #header .nav-button {
        display: none;
    }

    #header .navbar-expand-lg .navbar-nav .dropdown-menu {
        min-width: 900px;
    }

    #hero h2 {
        font-size: 3rem;
    }

    #hero p {
        font-size: 1.3rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #header {
        padding: 0px;
    }

    #header .navbar-expand-lg .navbar-nav .dropdown-menu {
        min-width: 750px;
    }

    #header .nav-button {
        display: none;
    }

    #hero h2 {
        font-size: 3rem;
    }

    #hero p {
        font-size: 1.3rem;
    }
      
}

@media (min-width: 768px) and (max-width: 991px) {
    #header {
        padding: 0px;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        min-width: 600px;
    }

    #hero h2 {
        font-size: 3.5rem;
    }

    #hero p {
        font-size: 1.3rem;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    #header {
        padding: 0px;
    }

    #hero h2 {
        font-size: 3rem;
    }
    #features .slider {
        background: #202020;
        z-index: 1;
    }
}

@media (max-width: 575px) {
    #header {
        padding: 0px;
    }

    #hero .logo {
        width: 100px;
        position: absolute;
    }

    #hero h2 {
        font-size: 3rem;
    }

    #social .logo-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    #features .slider {
        background: #202020;
        z-index: 1;
    }
}