/* Capabilities */


#capabilities {
     position: relative;

     .capabilities-carousel-item {
          height: 80vh;
          position: relative;
     }

     .capabilities-carousel-item img {
          object-fit: cover;
          height: 100%;
          width: 100%;
     }

     .capabilities-hero-content {
          position: absolute;
          top: 50%;
          left: 5%;
          transform: translateY(-50%);
          color: white;
          max-width: 700px;
          text-align: left;

          .btn-team {
               background-color: var(--icon-bg);
          }

          .btn-team:hover {
               background-color: var(--card-bg);
               color: var(--text-color);
          }

          .btn-contact {
               border: 1px solid #fff;
               color: var(--text-color);
          }

          .btn-contact:hover {
               border: 1px solid var(--teal);
               color: var(--teal);
          }
     }

     .capabilities-hero-content h1 {
          font-size: 3rem;
          font-weight: bold;
     }

     .capabilities-hero-content p {
          font-size: 1.2rem;
          margin-bottom: 1.5rem;
     }

     .carousel-control-prev,
     .carousel-control-next {
          width: 5%;
     }

     .carousel-control-prev {
          left: 1rem;
     }

     .carousel-control-next {
          right: 1rem;
     }

     @media (max-width: 576px) {
          .capabilities-carousel-item {
               height: 60vh;
          }

          .capabilities-hero-content {
               left: 8%;
               right: 8%;
          }

          .capabilities-hero-content h1 {
               font-size: 2rem;
          }

          .capabilities-hero-content p {
               font-size: 1rem;
          }
     }
}

/* #clients */

#clients .stage-area {
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     z-index: -1;
     height: 80vh;
     position: sticky;
     top: 0;

     h2 {
          font-size: 5rem;
          text-align: center;
          color: rgba(255, 255, 255, .5);
     }
}

#clients .highlight-section {
     padding-bottom: 90vh;

     .highlight-box {
          background-image: url(../images/transformation.jpg);
          background-size: cover;
          position: relative;
          width: 50%;
          padding: 7%;
          margin-top: 5%;
     }

     .highlight-box:nth-child(2) {
          background-image: url(../images/digital.jpg);
          margin-left: 50%;
     }

     .highlight-box:nth-child(3) {
          background-image: url(../images/data-analysis.jpg);
     }

     .highlight-box:nth-child(4) {
          background-image: url(../images/business-advisory.jpg);
          margin-left: 50%;
     }
}


#clients {
     padding-top: 10%;

     .logo-box .logo {
          border: 1px solid var(--border-color);
          background-color: var(--teal);
          height: 130px;
          display: flex;
          align-items: center;

          img {
               padding: 30px;
               max-width: 100%;
          }
     }
}



/* Team Achievements */
#team-achievements {
     background-color: var(--dark-bg);
}

.kpi-card {
     position: relative;
     height: 220px;
     border-radius: 1rem;
     overflow: hidden;
     background-size: cover;
     background-position: center;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


.kpi-card:hover {
     transform: scale(1.03);
}

.kpi-overlay {
     position: absolute;
     bottom: 0;
     background: rgba(0, 0, 0, 0.6);
     width: 100%;
     padding: 1rem;
}

.kpi-value {
     font-size: 1.8rem;
     font-weight: 100;
     color: var(--text-color);
     margin-bottom: 0.25rem;
}

.kpi-label {
     font-size: 1rem;
     color: var(--text-color);
     margin: 0;
}

.bg-1 {
     background-image: url('../images/start.jpg');
}

.bg-2 {
     background-image: url('../images/engagement.jpg');
}

.bg-3 {
     background-image: url('../images/resources.jpg');
}

.bg-4 {
     background-image: url('../images/project-delivered.jpg');
}

.bg-5 {
     background-image: url('../images/growth.jpg');
}

.bg-6 {
     background-image: url('../images/implement.jpg');
}

.bg-7 {
     background-image: url('../images/certification.jpg');
}

.bg-8 {
     background-image: url('../images/CSAT-rating.jpg');
}

/* #team-achievements .box h2 {
     font-size: 1.5rem;
}

#team-achievements .box P {
     font-size: 1rem;
     display: flex;
} */

/* Journey */

#journey {

     padding-top: 10%;

     .year-image {
          width: auto;
          height: 800px;
          object-fit: cover;
          border-radius: 8px;
     }

     .journeyList {
          display: flex;
          justify-content: space-around;
          align-items: center;
          border-top: 1px solid var(--border-color);

          .active {
               width: 80px;
               height: 60px;
               font-size: 15px;
               color: var(--text-color);
          }

          .active:before {
               border: 4px solid var(--icon-bg);
          }

          li {
               button {
                    font-size: 12px;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    padding: 5px;
                    position: relative;
                    color: #fff;
                    background: none;
               }

               button:before {
                    content: '';
                    width: 25px;
                    height: 25px;
                    background-color: #fff;
                    border-radius: 25px;
                    border: 4px solid #ccc;
                    position: absolute;
                    top: -15px;
                    left: calc(50% - 12px);
                    transition: all 200ms ease-in;
               }
          }
     }

     .project-card {
          background-color: var(--card-bg);
          border: 1px solid var(--border-color);
          border-radius: 8px;
          padding: 1.5rem;
          height: 100%;
          transition: all 0.3s ease;
          position: relative;
     }

     .project-card:hover {
          transform: translateY(-6px);
          box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
     }

     .project-icon {
          font-size: 1.4rem;
          color: var(--icon-bg);
     }

     .external-icon {
          font-size: 1rem;
          color: var(--icon-bg);
          position: absolute;
          top: 1.5rem;
          right: 1.5rem;
          text-decoration: none;
     }
     .project-header{
          img{
               max-width: 70px;
          }
     }
     .project-title {
          font-size: 1.2rem;
          font-weight: 600;
          margin-top: 1rem;
          color: var(--text-color);
     }

     .project-desc {
          color: var(--text-light);
          font-size: 0.95rem;
          margin-top: 0.5rem;
     }

     .tech-tags {
          font-size: 0.8rem;
          color: var(--text-light);
          margin-top: 1rem;
          font-family: monospace;
     }
}

/* End Journey */

/* Global Presence */
#global-presence {
     margin-top: 100px;

     .map-container {
          position: relative;
          max-width: 100%;
          margin: auto;
          overflow: hidden;
          border-radius: 12px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
     }

     svg {
          width: 100%;
          height: auto;

          circle{
               cursor: pointer;
          }
     }


     .flag-grid {
          display: flex;
          flex-wrap: wrap;
          gap: 1.5rem;
     }

     .flag-grid img {
          width: 30px;
          height: auto;
          border-radius: 8px;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          transition: transform 0.3s ease;
     }

     .flag-grid img:hover {
          transform: scale(1.1);
     }

     .tooltip {
          pointer-events: none;
     }
}


.custom-modal {
     background-color: var(--dark-bg);
     color: var(--white);
     border-radius: 14px;
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
     border: 1px solid rgba(194, 254, 6, 0.25);
     overflow: hidden;
}

.custom-modal .modal-header {
     background: rgba(0, 0, 0, 0.2);
     padding: 1rem 1.5rem;
}

.custom-modal .modal-title {
     color: var(--lime-green);
     font-size: 1.5rem;
     text-transform: uppercase;
     letter-spacing: 0.5px;
}

.custom-modal .modal-body {
     font-size: 1rem;
     padding: 1.5rem;
     color: var(--white);
}

.custom-modal .btn-close {
     filter: invert(1);
     opacity: 0.8;
}

.custom-modal .btn-close:hover {
     opacity: 1;
}

/* End Global Presence */