/* Subnav */
.subnav-sticky {
     position: sticky;
     top: 0px;
     z-index: 1020;
     background-color: var(--text-muted);
     border-bottom: 1px solid var(--border-color);
}


#vw-grp-china-hero .container .row {
     .details {
          padding: 5%;

          p {
               color: var(--text-light);
          }
     }

}

#vw-grp-china-about {

     padding: 6rem 1rem;

     h2 {
          font-size: 3rem;
          margin-bottom: 2rem;
          margin-top: 4rem;
     }

     .list {
          padding-inline-start: 1.5em;
          font-weight: 400;

          li {
               list-style-type: square;
               margin-bottom: 15px;

               &::marker {
                    color: rgba(255, 255, 255, .5);
               }
          }
     }
}

#module-coverage {
     background: var(--card-bg);
     padding: 4rem 0;

     .module-card {
          border: 1px solid var(--border-color);
          height: 100%;
          padding: 1rem;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          i {
               font-size: 2rem;
          }
     }
}

/* Key benefits and challenges */
#benefits-challenges {
     padding: 6rem 0;
}

#key-highlights {
     background: var(--card-bg);
     padding: 4rem 0;

     .highlight-item {
          border: 1px solid var(--border-color);
          height: 100%;
          padding: 1rem;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          i {
               font-size: 2rem;
          }
     }
}


#project-roadmap {
     padding: 6rem 1rem;
     color: var(--text-color);
     position: relative;

     .roadmap-timeline {
          position: relative;
          padding-bottom: 2rem;
     }

     .timeline-line {
          position: absolute;
          top: 3.5rem;
          left: 0;
          right: 0;
          height: 2px;
          background-color: var(--border-color);
          z-index: 1;
     }

     .roadmap-step {
          position: relative;
          z-index: 2;
     }

     .roadmap-icon {
          width: 50px;
          height: 50px;
          border: 1px solid var(--icon-bg);
          color: var(--text-color);
          border-radius: 50%;
          line-height: 50px;
          font-weight: bold;
          margin: 0 auto;
          z-index: 2;
          box-shadow: 0 0 0 4px var(--dark-bg);
     }
}