#vw-grp-china-hero .container .row .details {
     padding: 5%;
}

#vw-grp-china-hero .about {
     background: var(--dark-blue);
     padding: 5%;
}

#vw-grp-china-about {
     h2 {
          font-size: 3rem;
          margin-bottom: 2rem;
          margin-top: 4rem;
     }

     .list {
          padding-inline-start: 1.5em;
          font-weight: 400;

          li {
               list-style-type: square;
               margin-bottom: 15px;

               &::marker {
                    color: rgba(255, 255, 255, .5);
               }
          }
     }
}

#story-hero {
     background-image: linear-gradient(270deg, #2bded3, transparent);
     padding-top: 100px;
}

#story-hero .row {
     padding: 7%;
}

#story-intro {
     padding-top: 10%;
     padding-bottom: 8%;
}

#story-intro .details__container {
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     border-radius: 20px;
}

#story-intro .list {
     padding-inline-start: 1.5em;
     font-weight: 400;

     ::marker {
          content: "*";
          color: #2bded3;
     }
}

#story-intro .list>li {
     position: relative;
     padding-inline-start: 0.5em;
     padding-top: 1.5em;
     border-bottom: 1px solid #48b2;
     cursor: default;
     transition: color 0.4s;

     &:hover {
          color: #2bded3;

          &::marker {
               font-weight: 700;
          }
     }
}