/* Our Team */

.header span,
.header h1,
.header .member-desc,
.member-name,
.member-role,
.member-desc {
    color: var(--text-color) !important;
}

.header span {
    display: block;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.header h1 {
    font-size: 2.25rem;
    color: var(--vw-group);
    margin: 0;
    max-width: 700px;
    line-height: 1.4;
}

.header .member-desc {
    font-size: 1rem;
    margin-top: 10px;
    max-width: 600px;
}

.team-member img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.team-member {
  text-align: left;
}

.member-name {
    font-size: 1.1rem;
    font-weight: 600;
}

.member-role {
    font-size: 0.95rem;
    margin-top: 5px;
}

.member-desc {
    font-size: 0.85rem;
    margin-top: 8px;
}