/* Subnav */
.subnav-sticky {
     position: sticky;
     top:0px;
     z-index: 1020;
     background-color: var(--text-muted);
     border-bottom: 1px solid var(--border-color);
}

/* Service Catalog */

.h-fit {
     height: fit-content
}

.top-60 {
     top: 60px;
}


#services-hero {
     padding-top: 50px;

     h1 {
          font-size: 3rem;
     }
}

#services-hero .box-container {
     padding: 5% 0%;
}

#services-hero .logo-box {
     margin: auto;
     padding: 15px;
}

#services-hero .catalog-item-container {
     background-image: linear-gradient(180deg, rgba(0, 184, 172, .8), transparent);
     padding: 5%;
     border-radius: 20px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
     height: 100%;
     display: flex;
     flex-direction: column;
}

#services-hero .box {
     padding: 6% 3%;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
     height: 100%;
     display: flex;
     flex-direction: column;
     border-left: 2px solid #002733;
     border-radius: .7rem;
     margin-right: 10px;
     margin-left: 10px;
}

#services-hero .finance {
     background-image: url(../images/finance.jpg);
     background-size: cover;
}

#services-hero .sales {
     background-image: url(../images/sales.jpg);
     background-size: cover;
}

#services-hero .procurement {
     background-image: url(../images/procurement.jpg);
     background-size: cover;
}

#services-hero .supply-chain {
     background-image: url(../images/supply-chain.jpg);
     background-size: cover;
}

#services-hero .manufacturing {
     background-image: url(../images/manufacturing.jpg);
     background-size: cover;
}

#services-hero .warehouse {
     background-image: url(../images/warehouse.jpg);
     background-size: cover;
}

#services-hero .basis {
     background-image: url(../images/basis.jpg);
     background-size: cover;
}

#services-hero .abap {
     background-image: url(../images/abap.jpg);
     background-size: cover;
}

#services-hero .cloud-server {
     background-image: url(../images/cloud-serve.jpg);
     background-size: cover;
}

#services-hero .icon {
     background: var(--dark-blue);
     width: 40px;
     height: 40px;
     border-radius: 50%;
     padding: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
}

#services-hero .carousel-control-prev,
#services-hero .carousel-control-next {
     background: #fff;
     height: 25px;
     width: 25px;
     border-radius: 50%;
     padding: 5px;
     position: absolute;
     top: 45%;
}

#services-hero .box>h3 {
     font-weight: 600;
     background: rgba(0, 0, 0, 0.5);
     padding: 10px;
}

#services-hero .box>p {
     font-weight: 600;
     background: rgba(0, 0, 0, 0.5);
     padding: 10px;
}

#services-hero .capabilities-header {
     h2 {
          font-size: 3rem;
     }
}

#services-hero .capabiliyList {
     padding-bottom: 6%;

     /* li {
          padding: 0.5rem;
          margin-bottom: 1rem;
     } */

     .capabilityItem {
          border: 1px solid rgba(255, 255, 255, 0.1);
     }

     button {
          background: var(--dark-bg);
          box-shadow: none;
          color: var(--text-color);
          font-size: 2rem;

     }

     .collapsed {
          color: var(--text-muted);
     }

     .accordion-button::after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c2fe06' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
     }


     .accordion-button:not(.collapsed)::after {
          color: var(--text-color);
     }
}

#services-hero .capabiliyListContent {
     .layout-4col {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 1.5rem;
          align-items: start;
     }

     .layout-5col {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 1rem;
     }

     .covergae-box {
          .card {
               background-color: var(--card-bg);
               color: var(--text-color);
               border-radius: 0.75rem;
               padding: 1.5rem;
               border: 1px solid var(--border-color);
               box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
               transition: transform 0.2s ease;

               p {
                    font-size: 10px;
               }

               .icon {
                    background-color: var(--icon-bg);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;

                    i {
                         color: var(--dark-bg);
                    }
               }

               .sub-card {
                    background-color: rgba(255, 255, 255, 0.05);
                    border: 1px solid var(--border-color, #2a2a2a);
                    border-radius: 0.5rem;
                    transition: background 0.3s ease, transform 0.2s ease;

                    small {
                         font-size: .7rem;
                    }
               }

               .sub-card:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    transform: scale(1.02);
               }

          }

          .card:hover {
               transform: translateY(-4px);
          }

          .card h5 {
               font-size: .8rem;
          }
     }
}

#services-hero .capabiliyList .active {
     color: rgba(255, 255, 255, 1) !important;
}

/* Service Logo */

#services-logo {
     h2 {
          font-size: 3rem;
     }
}

#services-logo .logo-box {
     display: flex;
     justify-content: center;
     align-items: center;

     img {
          max-width: 200px;
          padding: 5%;
     }
}

/* Service Highlights */
#service-highlights .stage-area {
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     height: 90vh;
     position: sticky;
     top: 0;

     h2 {
          font-size: 5rem;
          text-align: center;
     }
}

#service-highlights .highlight-section {
     padding-bottom: 90vh;

     .highlight-box {
          background-image: url(../images/transformation.jpg);
          background-size: cover;
          position: relative;
          width: 50%;
          padding: 7%;
          margin-top: 5%;
     }

     .highlight-box:nth-child(2) {
          background-image: url(../images/digital.jpg);
          margin-left: 50%;
     }

     .highlight-box:nth-child(3) {
          background-image: url(../images/data-analysis.jpg);
     }

     .highlight-box:nth-child(4) {
          background-image: url(../images/business-advisory.jpg);
          margin-left: 50%;
     }
}

#highlights {
     padding-top: 10%;
     padding-bottom: 8%;
}

#highlights .box {
     background-image: linear-gradient(180deg, rgba(0, 184, 172, 0.39), transparent 66%);
}

#highlights .box-rv {
     background-image: linear-gradient(0deg, rgba(0, 184, 172, 0.39), transparent 66%);
}

#highlights .box,
#highlights .box-rv {
     border-radius: 0px;
     border: none;
     padding: 2%;
}

#highlights .box>h3,
#highlights .box-rv>h3 {
     font-size: 25px;
}

#highlights .box img,
#highlights .box-rv img {
     height: 50px;
}

#highlights .list {
     padding-inline-start: 1.5em;
     font-weight: 400;

     ::marker {
          content: "*";
          color: #2bded3;
     }
}

#highlights .list>li {
     position: relative;
     padding-inline-start: 0.5em;
     padding-top: 1.5em;
     border-bottom: 1px solid #48b2;
     cursor: default;
     transition: color 0.4s;
     font-size: 13px;

     &:hover {
          color: #2bded3;

          &::marker {
               font-weight: 700;
          }
     }
}

/* End Service Catalog */